.documents {
  display: flex;
  width: 100%;
  height: 400px;
  min-width: 0;
  .dropzone {
    flex: 1;
    height: 100%;
    .dropzone_label {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 139px;
        height: 121px;
      }
      .dropzone_title {
        font-size: 15.71px;
        font-weight: bold;
        letter-spacing: 0.15px;
        line-height: 24px;
        color: rgba(0,0,0,0.87);
      }
      .dropzone_subtitle {
        font-size: 15.71px;
        letter-spacing: 0.5px;
        line-height: 28px;
        color: rgba(0,0,0,0.6);
      }
    }
  }
  .spacer {
    width: 25px;
  }
  .files {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 0;
    .files_title {
      font-size: 15.71px;
      font-weight: bold;
      letter-spacing: 0.15px;
      line-height: 24px;
      color: rgba(0,0,0,0.87);
    }
    .files_scroll {
      flex: 1;
      overflow-y: auto;
      .files_one:last-child {
        border: none;
      }
      .files_one {
        padding: 16px 8px 16px 0;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #D8D8D8;
        .file_info {
          display: flex;
          flex-direction: row;
          img {
            width: 28px;
            height: 28px;
            object-fit: contain;
          }
          .file_detail {
            display: flex;
            flex-direction: column;
            flex: 1;
            width: calc(100% - 44px);
            margin-left: 16px;
            .file_detail_menu {
              font-size: 13.75px;
              display: flex;
              flex-direction: row;
              align-items: center;
              span {
                color: rgba(0,0,0,0.6);
                flex: 1;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
              }
              .file_name {
                letter-spacing: 0.1px;
                line-height: 24px;
              }
              .file_size {
                letter-spacing: 0.25px;
                line-height: 20px;
                margin-left: 16px;
              }
            }
            .file_progress{
              height: 8px;
              width: 100%;
              border-radius: 4px;
              background-color: #1DA1F2;
            }
          }
        }
        .file_upload_speed {
          display: flex;
          flex-direction: row;
          margin-left: 44px;
          margin-top: 4px;
          span {
            font-size: 11.78px;
            letter-spacing: 0.4px;
            line-height: 16px;
            color: rgba(0,0,0,0.6);
          }
          span:first-child {
            flex: 1;
            text-align: left;
          }
          span:last-child {
            flex: 1;
            text-align: right;
          }
        }
        .file_description {
          font-size: 13.75px;
          letter-spacing: 0.25px;
          line-height: 20px;
          color: rgba(0,0,0,0.87);
        }
        .file_textarea {
          height: 72px;
          border-radius: 4px;
          padding: 8px;
        }
      }
    }
  }
}